body {
  margin: 0;
  overflow: hidden;
  font-family:monospace;
  font-size: 14px;
  background-image: url('images/canvasbg.png');
  background-size: cover;
}

#start {
  display: block;
  width: 640px;
  height: 480px;
  background-image: url('images/background.png');
  background-size: cover;
  z-index: 3;
}

#gameStarted {
  display: none;
  width: 640px;
  height: 570px;
  overflow: hidden;
}

canvas {
  display: none;
  width: 640px;
  height: 480px;
  background-image: url('./images/village1.png');
  z-index: 2;
  order: 1;
  transition: 0.25s filter linear;
}

#sidebar {
  display: none;
  width: 640px;
  height: 90px;
  background-image: url('./images/sidebar.png');
  order: 2;
  box-sizing: border-box;
  position: relative;
}

#sidebar span {
  position: absolute;
  color: white;
  top: 50px;
}

#player1score {
  left: 50px;
}

#player2score {
  left: 200px;
}

#villagehealth {
  left: 345px;
}

.audio {
  position: absolute;
  right: 20px;
  z-index:4;
}

.audio:hover {
  cursor: pointer;
}

#gameover {
  display: none;
  text-align: center;
}

#gameover img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 233px;
  height: 175px;
  display: none;
  z-index: 2;
}

.shadow {
  box-shadow: 0px 0px 75px grey;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.logo {
  width: 330px;
  display: block;
  padding-top: 80px;
  margin: 0 auto 50px;
}

.player1 {
  margin-left: 100px;
  margin-right: 64px;
}

.btn:hover {
  cursor: pointer;
}

.bounce {
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-15px);}
 60% {-webkit-transform: translateY(-7px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-15px);}
 60% {-moz-transform: translateY(-7px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-15px);}
 60% {-o-transform: translateY(-7px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-15px);}
 60% {transform: translateY(-7px);}
}
