body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
  background-image: url('images/canvasbg.png');
  background-size: cover;
}

canvas {
  display: none;
  width: 640px;
  height: 480px;
  background-image: url('./images/village1.png');
  z-index: 2;
  order: 1;
  transition: 0.25s filter linear;
}

#start {
  display: block;
  width: 640px;
  height: 480px;
  background-image: url('images/background.png');
  background-size: cover;
  z-index: 3;
}

#instructions {
  display: none;
  width: 640px;
  height: 480px;
  background-image: url('images/controls.png');
  background-size: cover;
  z-index: 3;
}

#gameStarted {
  display: none;
  width: 640px;
  height: 570px;
  overflow: hidden;
}

#gameover {
  display: none;
  text-align: center;
}

#gameover img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 233px;
  height: 175px;
  display: none;
  z-index: 2;
}

#sidebar {
  display: none;
  width: 640px;
  height: 90px;
  background-image: url('./images/sidebar.png');
  order: 2;
  box-sizing: border-box;
  position: relative;
}

#sidebar span {
  position: absolute;
  color: white;
  top: 50px;
}

#player1score { left: 50px; }

#player2score { left: 200px; }

#villagehealth {  left: 345px; }

#highscore {
  font-size: 11px;
  right: 1em;
  position: absolute;
  color: white;
  bottom: 70px;
}

.audio {
  position: absolute;
  right: 20px;
  z-index:4;
}

.audio:hover { cursor: pointer; }

.relative {
  width: 100%;
  height: 100%;
  position: relative;
}

.relative button {
  position: absolute;
  top: 140px;
  left: 37px;
  background-color: #65fb97;
  border: none;
  border-radius: 50px;
  width: 210px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #2e2b29;
  letter-spacing: 5px;
  -webkit-transition: background-color .15s ease-in-out, left .2s;
     -moz-transition: background-color .15s ease-in-out, left .2s;
       -o-transition: background-color .15s ease-in-out, left .2s;
          transition: background-color .15s ease-in-out, left .2s;
}

.relative button:hover {
  cursor: pointer;
  background-color: #e1b262;
  left: 39px;
}

.shadow {
  box-shadow: 0px 0px 75px grey;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.logo {
  width: 330px;
  display: block;
  padding-top: 80px;
  margin: 0 auto 50px;
}

.player1 {
  margin-left: 100px;
  margin-right: 64px;
}

.btn:hover {
  cursor: pointer;
}

.bounce {
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}
 40% {-webkit-transform: translateY(-15px);}
 60% {-webkit-transform: translateY(-7px);}
}

@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-15px);}
 60% {-moz-transform: translateY(-7px);}
}

@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-15px);}
 60% {-o-transform: translateY(-7px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-15px);}
 60% {transform: translateY(-7px);}
}
