body { overflow: hidden; }

#start {
  display: block;
  width: 640px;
  height: 480px;
  background-image: url('images/background.png');
  background-size: cover;
  z-index: 3;
}

#gameStarted {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

canvas {
  display: none;
  width: 640px;
  height: 480px;
  background-image: url('./images/village1.png');
  z-index: 2;
  order: 1;
}

#sidebar {
  display: none;
  width: 200px;
  height: 480px;
  background-color: #e0e0e0;
  order: 2;
  border: 1px solid #c8c8c8;
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0px 0px 75px grey;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.logo {
  width: 330px;
  display: block;
  padding-top: 100px;
  margin: 0 auto 20px;
}

.player1 {
  margin-left: 100px;
  margin-right: 64px;
}

.btn:hover {
  cursor: pointer;
}
